[submodule ".vim/bundle/Vundle.vim"]
    path = .vim/bundle/Vundle.vim
    url = https://github.com/VundleVim/Vundle.vim.git
[submodule "/home/gaerfield/.zinit/bin"]
	path = /home/gaerfield/.zinit/bin
	url = https://github.com/zdharma/zinit.git
