[user]
	name = gaerfield
	email = gaerfield@users.noreply.github.com
[diff]
	tool = p4merge

[http]
    postBuffer = 1157286400
[cola]
    spellcheck = false
[core]
    autocrlf = input
[merge]
	tool = p4merge
[difftool]
	prompt = false
