#!/usr/bin/env bash

{{ if (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.idLike "debian")) -}}
sudo apt-get update \
  && sudo apt-get upgrade -y \
  && sudo apt-get install -y \
    byobu \
    curl \
    file \
    fish \
    fontconfig \
    git \
    nmap \
    netcat-openbsd \
    neovim \
    rsync \
    sed \
    ssh \
    tmux \
    tree \
    watch \
    wget \
  && sudo apt autoremove -y
{{ else if eq .chezmoi.osRelease.idLike "arch" -}}
# procps-ng = watch, openssh 
sudo pacman -S byobu \
    curl \
    file \
    fish \
    fontconfig \
    git \
    nmap \
    openbsd-netcat \
    neovim \
    openssh \
    rsync \
    sed \
    tmux \
    tree \
    procps-ng \
    wget
{{ end -}}
